body {
	background: rgb(222,239,255);
	background: -moz-radial-gradient(center, ellipse cover, rgb(222,239,255) 0%, rgb(106,169,221) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgb(222,239,255) 0%,rgb(106,169,221) 100%);
	background: radial-gradient(ellipse at center, rgb(222,239,255) 0%,rgb(106,169,221) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#6aa9dd',GradientType=1 );
	
	margin-bottom:6em;
}
.modal, .card {
	box-shadow: 1px 1px 12px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=12);
	zoom: 1;
}
.modal-body, .card-body {
	background: rgb(191,224,255);
	background: -moz-radial-gradient(center, ellipse cover, rgb(191,224,255) 0%, rgb(255,255,255) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgb(191,224,255) 0%,rgb(255,255,255) 100%);
	background: radial-gradient(ellipse at center, rgb(191,224,255) 0%,rgb(255,255,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe0ff', endColorstr='#ffffff',GradientType=1 );
}
.form-inline label {
	text-align: right;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-clean {
  font:initial;
  background-color:lightgrey;
}


.tab-content{
	max-height:480px;
	max-width:550px;
	overflow:auto;
  	overflow-y: auto;
 }

.row {
    /* overflow: hidden; */
}
/*
[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
*/
myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


/* The Modal (background) */
.modal-image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-image {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content-image, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content-image {
        width: 100%;
    }
}

.alert {
	position: absolute;
	top:60px;
	right:100px;
}